#!/bin/bash
#
# build config
#

PACKAGES="libvirt qemu samba tgt"
OS_VERSION_ALL="xenial zesty"
GLUSTER_VERSION_ALL="3.8.12 3.10.3 3.11.0"
BUILD_DIR="build"
PACKAGE_IDENTIFIER="glusterfs${GLUSTER_VERSION}${OS_VERSION}"
PPA_OWNER="ppaownername"
DEBFULLNAME="Your Name"
DEBEMAIL="your@mail.com"
DEBCOMMENT="with glusterfs ${GLUSTER_VERSION} support"
LAUNCHPAD_UPLOAD="no"
PPA="${PACKAGE}-glusterfs-$(echo ${GLUSTER_VERSION} | sed 's/\.[0-9]*$//')"
PACKAGEDIR="${BUILD_DIR}/${PPA}"
SRC_DOWNLOAD_DIR="source_downloads"
