#!/bin/bash
#
# build config
#

PACKAGES="libvirt qemu samba"
OS_VERSION_ALL="trusty xenial yakkety"
GLUSTER_VERSION_ALL="3.7.17 3.8.6 3.9.0"
BUILD_DIR="build"
PACKAGE_IDENTIFIER="glusterfs${GLUSTER_VERSION}${OS_VERSION}"
PPA_OWNER="ppaownername"
DEBFULLNAME="Your Name"
DEBEMAIL="your@mail.com"
DEBCOMMENT="with ${PACKAGE_IDENTIFIER} support"
LAUNCHPAD_UPLOAD="no"
PPA="${PACKAGE}-glusterfs-$(echo ${GLUSTER_VERSION} | cut -c 1-3)"
PACKAGEDIR="${BUILD_DIR}/${PPA}"
SRC_DOWNLOAD_DIR="source_downloads"
