#!/bin/bash
#
#
#

#config
OS_VERSION_ALL="trusty xenial"
GLUSTER_VERSION_ALL="3.7.17 3.8.5"
BUILD_DIR="/home/yourname/build"
PACKAGE_IDENTIFIER="glusterfs${GLUSTER_VERSION}${OS_VERSION}"
PPA_OWNER="ppaownername"
PACKAGEDIR="${BUILD_DIR}/${PPA}/"
DEBFULLNAME="Your Name"
DEBEMAIL="your@mail.com"
DEBCOMMENT="with ${PACKAGE_IDENTIFIER} support"
LAUNCHPAD_UPLOAD="no"
PPA="${PACKAGE}-glusterfs-$(echo ${GLUSTER_VERSION} | cut -c 1-3)"
