# created from glusterfs build scripts
deb-src http://de.archive.ubuntu.com/ubuntu #OS_VERSION# main restricted universe multiverse
deb-src http://de.archive.ubuntu.com/ubuntu #OS_VERSION#-updates main restricted universe multiverse
deb-src http://de.archive.ubuntu.com/ubuntu #OS_VERSION#-security main restricted universe multiverse
deb-src http://de.archive.ubuntu.com/ubuntu #OS_VERSION#-backports main restricted universe multiverse
deb-src http://archive.canonical.com/ubuntu #OS_VERSION# partner
